  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  width: 90px;
  height: 100%;
  transition: 0.5s;
  background: #242625;
  box-shadow: 1px 0px 0px #DEDEDE;
}

.menu-container.hovered {
  width: 250px;
}

.menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 56px 0;
}

.avatar {
  height: 44px;
  width: 44px;
  background-color: #A492FF;
  border-radius: 8px;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar > p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.user-info {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #EFEFEF;
}

h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  font-size: 14px;
  color: #C0BFBD;
}

a {
  text-decoration: none;
}

.search {
  width: 90%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 56px;
  margin-left: 10px;
  border-radius: 8px;
}

.search input[type="text"] {
  width: 100%;
  min-height: 50px;
  background: #424444;
  border-radius: 8px;
  margin-left: 19px;
  color: #C0BFBD;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  padding-left: 15px;
}
    
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #c0bfbd;
    margin-bottom: 46px;
  }

  .space {
    margin-top: 336px;
  }
  
  .menu-item svg {
    margin-right: 19px;
    
  }

  .radio-icon {
    background-color: #424444;
    min-width: 35px;
    border-radius: 100px;
  }

  .radio-input {
    display: none;
  } 
  